
 <!-- START SIMPLE DATATABLE -->
 <div class="panel panel-default">
    <div class="panel-heading">                                
        <h3 class="panel-title">List of Loans </h3>   
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>                                
    </div>
    <div class="panel-body">
        <table class="table datatable_simple">
            <thead>
                <tr>
                    <th width="50">paymentNumber</th>
                    <th width="100">amount</th>
                    <th width="100">dueDate</th>
                 
                </tr>
            </thead>
            <tbody>                                            
                <!-- Loop through loans array and create table rows -->
                <tr *ngFor="let  monthlypayment of listPayment">

                    <td>{{ monthlypayment.paymentNumber }}</td>
                    <td>{{ monthlypayment.amount }}</td>
                    <td>{{ monthlypayment.dueDate }}</td>
                    
            </tbody>
              
        </table>
    </div>
</div>
<!-- END SIMPLE DATATABLE -->