 <!-- Page Preloder -->
 <div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay  "></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__search">
        <i class="fa fa-search search-switch"></i>
    </div>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="/assets/client/img/logo.png" alt=""></a>
    </div>
    <nav class="offcanvas__menu mobile-menu">
        <ul>
            <li class="active"><a routerLink="/home">Home</a></li>
            <li><a routerLink="/pack">Product</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="#">Pages</a>
                <ul class="dropdown">
                    <li><a href="./services.html">Features</a></li>
                    <li><a href="./services-details.html">Services Details</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <ul class="offcanvas__widget">
        <li><a href="/payment"><i class="fa fa-map-marker"></i> 96 Ernser Vista Suite 437, NY, US</a></li>
        <li><i class="fa fa-phone"></i> (123) 456-78-910</li>
        <li><i class="fa fa-envelope"></i> Info@colorlib.com</li>
    </ul>
    <div class="offcanvas__language">
        <img src="img/flag.png" alt="">
        <span>English</span>
        <i class="fa fa-angle-down"></i>
        <ul>
            <li><a href="#">English</a></li>
            <li><a href="#">Bangla</a></li>
        </ul>
        
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <ul class="header__top__widget">
                        <li><a href="/payment"><i class="fa fa-map-marker"></i> 96 Ernser Vista Suite 437, NY, US</a></li>
                        <li><i class="fa fa-phone"></i> (123) 456-78-910</li>
                        <li><i class="fa fa-envelope"></i> 
                            microfinancephoenix@gmail.com</li>
                    </ul>
                    
                </div>
                
                <div class="col-lg-3">
                    <div class="header__top__language">
                        <img src="/assets/client/img/flag.png" alt="">
                        <span>LogIN</span>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li><a routerLink="/login">Login</a></li>
                            
                        </ul>
                        
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="/assets/client/img/phoenix.PNG" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header__nav">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a routerLink="/client/home">Home</a></li>
                            <li><a routerLink="/client/product/list">Products</a></li>
                            
                            <li><a href="#">Services</a>
                            <ul class="dropdown">
                                <li><a routerLink="/client/requestLoan/formclient">Product Services</a></li>
                                <li><a routerLink="/client/requestLoan/listclient">Loan Services</a></li>
                                <li><a routerLink="/client/Investment/addInves">Investment</a></li>

                                
                             
                            </ul>
                        </li>
                         
                        <li><a href="#">Simulators</a>
                            <ul class="dropdown">
                                <li><a routerLink="/client/simulator/simplesimulator">Simple Simulator </a></li>
                                <li><a routerLink="/client/simulator/earnings">Investment earnings</a></li>
                                <li><a routerLink="/client/simulator/debtCapacity">Debt Capacity</a></li>
                                <li><a routerLink="/client/simulator/carLoanSimulator">Car Loan Simulator</a></li>
                            </ul>
                        </li>
                            
                            
                            <li><a href="#">Forum</a>
                                <ul class="dropdown">
                                    <li><a routerLink="/client/reclamation/reclamer">Reclamer</a></li>
                                    <li><a routerLink="/forum">Forum</a></li>
                                   
                                </ul>
                            </li>
                            <li><a href="#">Settings</a>
                                <ul class="dropdown">
                                    <li><a routerLink="/client/reclamation/reclamer">Profile</a></li>
                                    <li><a routerLink="/client/update">update profile</a></li>
                                    <li><a routerLink="/client/reclamation/reclamer">logout</a></li>
                                    
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <div class="header__search">
                        <i routerLink="product/cart" class="fa fa-shopping-cart" style="font-size:48px;color:black"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>
<!-- Header Section End -->