.forgetPassword{
    text-align: right;
}
.login-btn{
    text-align: center;
    
}
.login-btn button{
 width: 130px ;
    
}

/* :host body{
    background-image: url("https://wallpapercave.com/wp/wp4316542.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */