<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card  rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Forgot Password</h3></div>
                                <div class="card-body">                                 
                                <div class="form-group mb-3 mt-3">
                                  <label for="password">Email</label>
                                  <input
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    [(ngModel)]="email"
                                    required
                                    minlength="6"
                                    #password="ngModel"
                                  />
                                  <div class="form-group forgot-btn mt-3 mb-3">
                                    <button class="btn btn-primary btn-block"
                                    class="btn btn-primary btn-block"
                                    (click)="submit()">
                                      Send
                                    </button>
                                  </div>
                                 
                                    <p style="color: rgb(8, 72, 38); ">{{ message }}</p>
                                </div>
                      
                            </div>
                        </div>
                </div>
        </div>
    </div>
            </main>

          </div>
      

        </div>
        