
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to Create Bank. <span class="req"><small>
                                required *</small></span></legend>

                                <div class="form-group">
                                    <label for="bankName">Bank Name:</label>
                                    <input type="text" class="form-control" id="bankName" name="bankName" [(ngModel)]="bank.bank_name" required>
                                  </div>

                                  <div class="form-group">
                                    <label for="bankAddress">Bank Address:</label>
                                    <input type="text" class="form-control" id="bankAddress" name="bankAddress" [(ngModel)]="bank.bank_address" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="bankCity">City:</label>
                                    <input type="text" class="form-control" id="bankCity" name="bankCity" [(ngModel)]="bank.bank_city" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="bankState">State:</label>
                                    <input type="text" class="form-control" id="bankState" name="bankState" [(ngModel)]="bank.bank_state" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="bankZipCode">Zip Code:</label>
                                    <input type="number" class="form-control" id="bankZipCode" name="bankZipCode" [(ngModel)]="bank.bank_zip_code" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="bankLng">Longitude:</label>
                                    <input type="number" class="form-control" id="bankLng" name="bankLng" [(ngModel)]="bank.bank_lng" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="bankLat">Latitude:</label>
                                    <input type="number" class="form-control" id="bankLat" name="bankLat" [(ngModel)]="bank.bank_lat" required>
                                  </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="createBank()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    
</div>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="info">

          <th>Bank Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Longitude</th>
          <th>Latitude</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bank of banks">
          <td class="success">{{bank.bank_name}}</td> 
          <td class="info">{{bank.bank_address}}</td>
          <td class="danger">{{bank.bank_city}}</td>
          <td class="warning">{{bank.bank_state}}</td>
          <td class="info">{{bank.bank_zip_code}}</td>
          <td class="success">{{bank.bank_lng}}</td>
          <td class="info">{{bank.bank_lat}}</td>
          <td>
            <!--<button type="button" class="btn btn-warning" (click)="editBank(bank)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteBank(bank)">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


