<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">

          <div class="panel-heading">
              <h3 class="panel-title">list des utilisateurs</h3>
          </div>

          <div class="panel-body panel-body-table">

              <div class="table-responsive">
                  <table class="table table-bordered table-striped table-actions">
                      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.idUser }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthDate }}</td>
    </tr>
    </tbody>
  </table>
</div>                                

</div>
</div>                                                

</div>
</div>

