
<app-loader *ngIf="loader"></app-loader>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card  rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Verification</h3></div>
                                <div class="card-body">    
                                  <form [formGroup]="form">                   
                                <div class="form-group mb-3 mt-3">
                                  <label for="code">Code</label>
                                  <input
                                  type="number"
                                  class="form-control"
                                  formControlName="code"
                                  required
                                  [ngClass]="{ 'is-invalid': form.get('code')?.touched && form.get('code')?.invalid }"
                                />
                                <div *ngIf="form.get('code')?.touched && form.get('code')?.invalid" class="invalid-feedback">
                                  code  is required!
                                </div>
                                  <div class="form-group send-btn mt-3 mb-3 send-btn">
                                    <button class="btn btn-primary btn-block"[disabled]="form.invalid" (click)="verify()">
                                      Send
                                    </button>
                                  </div>
                                  <div class="alert alert-warning mt-3" *ngIf="isSignUpFailed">
                                     Verification Failed!<br />{{ errorMessage }}
                                  </div>
                                    <!-- <p style="color: rgb(8, 72, 38); ">{{ message }}</p> -->
                                </div>
                              </form>   
                            </div>

                        </div>
                </div>
        </div>
    </div>
            </main>

          </div>
      

        </div>
        