 
<app-loader *ngIf="loader"></app-loader>
<body class="">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card  rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form
                                    [formGroup]="form" (ngSubmit)="onSubmit()"
                              >
                      <div class="row">
                        <div class="form-group mb-3 col">
                          <label for="firstName">First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="firstName"
                            required
                            [ngClass]="{ 'is-invalid': form.get('firstName')?.touched && form.get('firstName')?.invalid }"
                          />
                          <div *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid" class="invalid-feedback">
                            fisrt Name  is required!
                          </div>
                        </div>
                        <div class="form-group mb-3 col">
                          <label for="lastName">Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="lastName"
                            required
                            [ngClass]="{ 'is-invalid': form.get('lastName')?.touched && form.get('lastName')?.invalid }"
                          />
                          <div *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid" class="invalid-feedback">
                            Last Name is required!
                          </div>
                        </div>
                  
                      </div>
 
                      <div class="row">
                        <div class="form-group mb-3 col">
                          <label for="numTel">Phone Number</label>
                          <input
                            type="number"
                            class="form-control"
                            formControlName="numTel"
                            required
                                             
                            [ngClass]="{ 'is-invalid': form.get('numTel')?.touched && form.get('numTel')?.invalid }"
                          />
                          <div *ngIf="form.get('numTel')?.touched && form.get('numTel')?.invalid" class="invalid-feedback">
                            Phone Number is required!
                          </div>
                          <div *ngIf="form.get('numTel')?.errors?.['numericLength'].actualLength" class="invalid-feedback">
                            Phone number must be 8 digits
                          </div>
                         
                        </div>
                        <div class="form-group mb-3 col">
                          <label for="cin">CIN</label>
                          <input
                            type="number"
                            class="form-control"
                            formControlName="cin"
                            required
                            [ngClass]="{ 'is-invalid': form.get('cin')?.touched && form.get('cin')?.invalid}"
                          />
                          <div *ngIf="form.get('cin')?.touched && form.get('cin')?.invalid" class="invalid-feedback">
                            CIN is required!
                          </div>

                          <div *ngIf="form.get('cin')?.errors?.['numericLength'].actualLength" class="invalid-feedback">
                            Cin must be at least 8 digits
                          </div>
                        </div>
                  
                      </div>
                
                      <div class="row">
                        <div class="form-group mb-3 col" >
                          <label for="username">Username</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                            required
                            [ngClass]="{ 'is-invalid': form.get('username')?.touched && form.get('username')?.invalid }"
                          />
                          <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="invalid-feedback">
                            Username is required!
                          </div>
                        </div>
                        <div class="form-group col">
                          <label for="password">Password</label>
                          <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                            required
                            minlength="6"
                            [ngClass]="{ 'is-invalid': form.get('password')?.touched && form.get('password')?.invalid }"
                          />
                          <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="invalid-feedback">
                            <div *ngIf="form.get('password')?.errors?.['required']">Password is required</div>
                            <div *ngIf="form.get('password')?.errors?.['minlength']">
                              Password must be at least 6 characters
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label for="address">Address</label>
                        <input
                          type="address"
                          class="form-control"
                          formControlName="address"
                          required
                          [ngClass]="{ 'is-invalid': form.get('address')?.touched && form.get('address')?.invalid }"
                        />
                        <div *ngIf="form.get('address')?.touched && form.get('address')?.invalid" class="invalid-feedback">
                          Address  is required!
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        required
                        [ngClass]="{ 'is-invalid': form.get('email')?.touched && form.get('email')?.invalid }"
                        />
                        <div class="invalid-feedback" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                          <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                          <div *ngIf="form.get('email')?.errors?.['email']">
                            Email must be a valid email address
                          </div>
                        </div>
                      </div>
                     
             <div class="row">
              <div class="form-group mb-3 col">
                <label for="birthDate">BirthDate</label>
                <input
                type="date"
                class="form-control"
                formControlName="birthDate"
                required
                [ngClass]="{ 'is-invalid': form.get('birthDate')?.touched && form.get('birthDate')?.invalid }"
                />
                <div class="invalid-feedback" *ngIf="form.get('birthDate')?.touched && form.get('birthDate')?.invalid">
                  <div *ngIf="form.get('birthDate')?.errors?.['required']">Birth Date is required</div>
                </div>
              </div>   
                <!-- Autres champs de formulaire -->
                  <div class="form-group mb-3 col">
                    <label for="roles">Role:</label>
                    <select class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example" formControlName="roles"    [ngClass]="{ 'is-invalid': form.get('roles')?.touched && form.get('roles')?.invalid }">
                      <option value="ROLE_AGENT">AGENT</option>
                      <option value="ROLE_INVESTOR">INVESTOR</option>
                      <option value="ROLE_ADMIN">ADMIN</option>
                      <option value="ROLE_CLIENT">CLIENT</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="form.get('roles')?.touched && form.get('roles')?.invalid">
                      <div *ngIf="form.get('roles')?.errors?.['required']">Roles is required</div>
                    </div>
                  </div>

             </div>
                
                        
                       <!-- --> 
            
                   <!-- --> 
                        <div class="form-group signup-btn">
                          <button class="btn btn-primary btn-block" [disabled]="form.invalid">Sign Up</button>
                        </div>
                  
                        <div class="alert alert-warning mt-3" *ngIf="isSignUpFailed">
                          Signup failed!<br />{{ errorMessage }}
                        </div>
                      </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a routerLink="/signin">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
      
    </div>
</body>

