
<div class="container-fluid">

    <!-- start page title -->
   <!-- end page title -->
   <div class="blog__item__text">
    <h3><a href="./blog-details.html">You can check reclamation from here </a></h3>
 
    <a routerLink="/reclamation/consulter" class="read__more">See my reclamation<i class="fa fa-long-arrow-right"></i></a>
    </div>
     <div class="row">
       <div class="col-lg-12">
         <div class="card padd">
           <div class="card-body ">
             <h4 class="card-title mb-4"> </h4>
             <form  class="outer-repeater" >
               <div data-repeater-list="outer-group" class="outer">
                 <div data-repeater-item class="outer">
                   <div class="row mb-4">
                    <label class="col-form-label col-lg-2">Name</label>
                     <div class="col-lg-10">
                       <input id="nomReclamation" name="nomReclamation" type="text" class="form-control"
                         [(ngModel)]="reclamation.nomReclamation" [ngModelOptions]="{standalone:true}"
                         placeholder="Enter Objectif Reclamation...">
                     </div>
                   </div>
                   <div class="row mb-1">
                    <label class="col-form-label col-lg-2">Description</label>
                    <div class="col-lg-10">
                      <textarea id="nomReclamation" name="nomReclamation" class="form-control"
                        [(ngModel)]="reclamation.description" [ngModelOptions]="{standalone:true}"
                        placeholder="Enter Description Reclamation..." rows="4"></textarea>
                    </div>
                    
                   </div>
                  
                 
   
                 </div>
                 <div class="row mb-1">
                   <label class="col-form-label col-lg-2"> Files</label>
                   <div class="col-lg-10">
                     <ngx-dropzone (change)="onSelect($event)">  
                       <ngx-dropzone-label>Ajouter Votre Fichier</ngx-dropzone-label>  
                       <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">  
                         <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>  
                       </ngx-dropzone-preview>  
                     </ngx-dropzone>  
                     
                   </div>
                 </div>
               </div>
               <div class="row justify-content-end">
               <div class="col-lg-10">
                 <button type="submit"
                  class="btn btn-secondary"
                  (click)="ajouterreclamationavecFile()">
                  Reclamer</button>
                  
               </div>
               
             </div>
             </form>
             
   
           </div>
         </div>
       </div>
     </div>
     <!-- end row -->
   
   </div> <!-- container-fluid -->
   