 <!-- Hero Section Begin -->
 <section class="hero set-bg" data-setbg="assets/client/img/hero-bg.jpg">
   
</section>
<!-- Hero Section End -->
<!-- Home About Begin -->
<section class="home-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home__about__text">
                    <div class="section-title">
                        <h2>Thousands Of Customers Trust Our Company</h2>
                        <p>The brochure must grab a viewer’s attention and hold it long enough to deliver the
                            pertinent information. How do you grab your customers’ attention with just a piece</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="home__about__item">
                                <h4>Our Company</h4>
                                <p>You could try by giving the viewer paper cut, but that’s not the kind of
                                    attention</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="home__about__item">
                                <h4>Our Vision</h4>
                                <p>The brochure must grab a viewer’s attention and hold it long enough to</p>
                            </div>
                        </div>
                    </div>
                    <a href="£" class="primary-btn">learn More</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="home__about__img">
                    <img src="assets/client/img/about/home-about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home About End -->
    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="section-title">
                        <h2>Our Team</h2>
                        <p>Meet Our Team</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                    <a href="#" class="primary-btn">View All</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="team__item set-bg" data-setbg="assets/client/img/team/mariem.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h4>Mariem mkadem</h4>
                                <span>CEO & Founder</span>
                            </div>
                            <p></p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="team__item set-bg" data-setbg="assets/client/img/team/wejden.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h4>Wejden Mbarki</h4>
                                <span>CEO</span>
                            </div>
                            <p></p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="team__item set-bg" data-setbg="assets/client/img/team/kouki.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h4>Mariem Kouki</h4>
                                <span>Sale Marketing</span>
                            </div>
                            <p></p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="team__item set-bg" data-setbg="assets/client/img/team/franck.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h4> Loui frank moussima</h4>
                                <span>Sale Marketing</span>
                            </div>
                            <p></p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="team__item set-bg" data-setbg="assets/client/img/team/houssem1.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h4>Houssem </h4>
                                <span>Sale Marketing</span>
                            </div>
                            <p></p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->
